<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="APP_LOG_ROOT">E:\estudio\Universidad\medellin\especializacion\calidad\taller1</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout 
              pattern="%d{yyyy-MMM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
        <RollingFile name="XMLRollingfileAppender"
          fileName="E://estudio/Universidad/medellin/especializacion/calidad/taller1/logsTomYJerry.log"
          filePattern="E://estudio/Universidad/medellin/especializacion/calidad/taller1/logfile-%d{yyyy-MM-dd}-%i.log.gz">
            <XMLLayout/>
            <Policies>
                <SizeBasedTriggeringPolicy size="17 kB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="XMLRollingfileAppender"/>
        </Root>
    </Loggers>
</Configuration>